@import "minireset.css";

@font-face {
  font-family: "PublicSans";
  src:
    url("fonts/PublicSans-Variable.woff2") format("woff2"),
    url("fonts/PublicSans-Variable.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "PublicSans", sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100dvh;
}

header {
  background-color: #1b1107;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  gap: 20px;
  flex-wrap: wrap;
}

header p {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

header nav {
  display: flex;
  gap: 40px;
}

header button {
  color: #dddddd;
  background-color: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

header button:hover {
  opacity: 0.9;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex: 1;
  background-color: #1b1107;
  color: #fff;
  padding: 80px;
  gap: 40px;
}

.home-hero {
  font-size: 3rem;
  font-weight: 600;
}

.home-description {
  color: #dddddd;
}

.home-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu {
  background-color: #ddb288;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}

.menu-hero {
  font-size: 3rem;
  font-weight: 600;
}

.menu-description {
  color: #131313;
}

.menu-cards {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.menu-card {
  background-color: #1b1107;
  padding: 10px;
  color: #dddddd;
  text-align: center;
  font-size: 1.5rem;
}

.menu-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-description {
  width: 70%;
}

.contact {
  flex: 1;
  background-color: #1b1107;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 80px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-left > div {
  background-color: #c7ac8f;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #1b1107;
  font-weight: 600;
  border: 2px solid #fff;
}

.contact-left > p {
  font-size: 1.5rem;
}

.contact-left,
.contact-right {
  border: 1px solid #e2e2e29c;
  border-top: none;
  border-bottom: none;
  padding: 20px;
}

.contact-right {
  border-left: none;
  display: grid;
  justify-content: center;
  align-items: center;
}

.contact-right > p:first-child {
  font-size: 2.5rem;
  font-weight: 600;
}

.contact-right > p:last-child {
  font-size: 1.5rem;
  color: #c7ac8f;
}

.contact-right > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5rem;
}

.contact-right > div span {
  color: #adadad;
}
