@import "minireset.css";

@font-face {
  font-family: "PublicSans";
  src:
    url("fonts/PublicSans-Variable.woff2") format("woff2"),
    url("fonts/PublicSans-Variable.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "PublicSans", sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100dvh;
}

header {
  background-color: #1b1107;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  gap: 20px;
  flex-wrap: wrap;
}

header p {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

header nav {
  display: flex;
  gap: 40px;
}

header button {
  color: #dddddd;
  background-color: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

header button:hover {
  opacity: 0.9;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex: 1;
  background-color: #1b1107;
  color: #fff;
  padding: 80px;
  gap: 40px;
}

.home-hero {
  font-size: 3rem;
  font-weight: 600;
}

.home-description {
  color: #dddddd;
}

.home-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
