@import "minireset.css";

@font-face {
  font-family: "PublicSans";
  src:
    url("fonts/PublicSans-Variable.woff2") format("woff2"),
    url("fonts/PublicSans-Variable.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "PublicSans", sans-serif;
}
